includes:
    - ./vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    paths:
        - ./src
        - ./tests

    symfony:
        containerXmlPath: ./var/cache/dev/Blog_Infrastructure_KernelDevDebugContainer.xml
    scanDirectories:
            - ./var/cache/dev/Symfony/Config

